{{asteroids}}
<table class="table table-striped">
    <thead>
      <tr>
        <th>
          Data
        </th>
        <th>
          Nome
        </th>
        <th>
          Velocidade(km/h)
        </th>
        <th>
          Perigo
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of asteroides" [class.bg-warning]="item.hazard === true">
        <td>
          {{item.date | date:'d, MMMM yyyy'}}
        </td>
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.velocity + ' km/h'}}
        </td>
        <td>
          {{item.hazard}}
        </td>
      </tr>
    </tbody>
  </table>
